.pane {
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	height: 100%;
}

.head {
	padding-top: 10%;
	padding-bottom: 10%;
	background-image: url("../img/bg.jpg");
	background-size: cover;
}

.item-image img {
	border-radius: 5px;
}

.active {
	text-align: center;
}

.feed {
	opacity: 0.9;
	height: 100%;
}