<ion-view view-title="">
  <ion-content scroll="false">

  	<div class="head">
      <div class="row">
        <div class="col col-25 col-offset-25">
          <div class="item-image">
            <img src="./img/grandpa.jpg">
          </div>
          <div class="padding-top active">
            <span id="activity-one" class="badge badge-royal">Idle</span>
          </div>
        </div>
        <div class="col col-25">
          <div class="item-image">
            <img src="./img/grandma.jpg">
          </div>
          <div class="padding-top active">
            <span id="activity-two" class="badge badge-royal">Idle</span>
          </div>
        </div>
      </div>
    </div>

    <div id="feed" class="list feed">
      <div class="item item-avatar">
        <img src="./img/grandpa.jpg">
        <h2>Grandpa</h2>
        <p>is having breakfast</p>
        <span class="badge badge-balanced">2 hours ago</span>
      </div>

      <div class="item item-avatar">
        <img src="./img/grandma.jpg">
        <h2>Grandma</h2>
        <p>is sleeping</p>
        <span class="badge badge-balanced">11 hours ago</span>
      </div>
    </div>

  </ion-content>
</ion-view>